<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p>Виникли питання? <span>Наші дані</span></p>
        </div>



        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Наша адресса</h3>
                <p>Вулиця Хрещатик 22, Київ, Україна</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3> Наш Email </h3>
                <p>bestshop@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Номер телефону</h3>
                <p>+380669576123</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Коли ми працюємо</h3>
                <div><strong>Пон-Суб:</strong> 11:00 - 23:00;
                  <strong>Неділя:</strong> закриті
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>



      </div>
    </section>